@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    min-height:100vh;
    min-width: 100%;

    background-color: black;
    display: none; /* grid */
    grid-template-columns: auto 25% auto;
    grid-template-rows: auto 50% auto;

    grid-template-areas: 
    ". title ."
    ". gamescreen ."
    ". restart .";
    
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10%;

    font-size: 4rem;
    font-family: "Nunito";
    font-weight: bold;
    color: white;

}

.gamescreen {
    grid-area: gamescreen;
    background-color: black;
    position: relative;
    top: -10%;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;

}

#box1 {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
#box2 {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
#box3 {
    border-bottom: 3px solid white;
}
#box4 {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
#box5 {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
#box6 {
    border-bottom: 3px solid white;
}
#box7 {
    border-right: 3px solid white;
}
#box8 {
    border-right: 3px solid white;
}

.textstyle{
    
    color: white;
    text-align: center;
    font-size: 8rem;
    position: relative;
    top: 5%;
    font-family: "Nunito";
    font-weight: bold;

}


.restart {
    grid-area: restart;
    display: flex;
    justify-content: center;
    align-items: center;


}

#restartbtn{
    width: 20%;
    height: 25%;
    position: relative;
    top: -30%;
    
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: "Nunito";
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.9);
    border: none;
}
#restartbtn:active {
    transform: translateY(2px);
    box-shadow: none;
}

#restartbtn:hover {
    background-color: rgb(255, 255, 255);
}


#game-over-modal-bg {
    width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255 , 255, 0.2);
    top : 0;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    animation-name: modalAnimation;
    animation-duration: 0.5s;
    
    
}

@keyframes modalAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.game-over-modal {
  width: 500px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.7);
  text-align: center;
  background-color: rgb(116, 160, 240);
}

.close{
    position: relative;
    right: -220px;
    font-size: 50px;
    transform: rotate(45deg);
    font-weight: bold;
    color: azure;
}

a {
    cursor: pointer;
}

.emoji {
    padding-bottom: 50px;
    font-size: 150px;
}

#whowins {
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}



.game-start-modal{
    display: flex;
    flex-direction: column;

    min-height:100vh;
    min-width: 100%;

    background-color: black;
    justify-content: space-evenly;
    align-items: center;


}


.start-title {
    color: white;
    position: relative;
    font-size: 5rem;
    font-family: monospace;
    
}

.options {
    padding-bottom: 20%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    grid-gap: 30%;

}



#humanMode {
    border: 3px solid white;
    border-radius: 100%;
    text-align: center;
    width: 200px;
    height: 200px;
    transition: 0.3s;
}

#humanMode p {
    position: relative;
    top: 10%;
    font-size: 7rem;
}


#computerMode {
    text-align: center;
    border: 3px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 0.3s;
}

#computerMode p {
    position: relative;
    top: 10%;
    font-size: 7rem;
}

#humanMode:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#computerMode:hover {
    transform: scale(1.1);
    cursor: pointer;
}









